#content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, .5);
}
#content form.active {
  background-color: hsl(0, 0%, 97%);
  padding: 16px;
  box-shadow: 4px 4px 16px hsl(0, 0%, 0%);
}

a{
  cursor: pointer;
}
