@media screen and (max-width: 774px){
  body{
    border: none;
    margin: 0;
  }
  hr{
    display: none;
  }
  body > header, main{
    border: none;
  }
  body > header{
    background-image: url(../img/berrockbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body > header > h1{
    margin: 10px auto;
    background-color: hsla(60, 100%, 97%, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px 20px 22px;
  }
  header div{
    display: none;
  }
  nav{
    text-align: center;
  }
  nav ul{
    display: inline-flex;
    flex-direction: column;
    border-width: 1px;
    padding: 0 10vw;
    border-radius: 10px;
  }
  nav ul li{
    line-height: 1.75;
    text-align: center;
  }
  section, aside{
    width: 100%;
    padding: 0 0 20px;
  }
  h2 + img, aside img{
    display: none;
  }
  #menu section{
    padding:0 5px 10px;
  }
  #menu section > div:first-child{
    flex-direction: column;
  }
  #menu section > div:first-child p,
  #menu section > div:first-child h2{
    margin: 0;
    padding: 2.5px 0;
  }
  #menu section > div:first-child h2{
    font-size: 228%;
  }
  #menu .fb{
    display: block;
  }
  #menu .fb div {
      width: 100%;
  }
}
