@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
body{
  margin: 0;
}
main{
  display: flex;
}
main div.first{
  width: 35%;
  background-color: hsl(216, 11%, 91%);
  height: 100vh;
}
main div.content{
  position: relative;
}
main div.content::before{
  display: block;
  content: "";
  clear: both;
}
main div.content img{
  position: absolute;
  top: 60px;
  left: 85px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 10px;
}
main div.last{
  width: 65%;
  height: 100vh;
}
